*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 62.5%;
  background-color: hsl(225, 100%, 94%);
}

button {
  font-family: inherit;
  display: block;
  font-weight: 500;
  /* font-size: 1.8rem; */
  padding: 1em 2em;
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  border: none;
  border-radius: 10px;
  margin-bottom: 2rem;
  transition: 0.4s;
}

.plan {
  width: 400px;
  margin: 100px auto;
  background-color: hsl(225, 100%, 98%);
  border-radius: 20px;
}

.plan img {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.plan-info {
  padding: 3rem 3.5rem;
}

.plan-title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: hsl(223, 47%, 23%);
}
.plan-description {
  font-size: 1.6rem;
  padding: 0 20px;
  margin-bottom: 2rem;
  color: hsl(224, 23%, 55%);
}
.plan-overview {
  display: flex;
  background-color: hsl(225deg 100% 94% / 36%);
  gap: 2rem;
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.plan-type {
  font-weight: 700;
  font-size: 1.4rem;
  color: hsl(223, 47%, 23%);
}

.plan-price,
.plan-change,
.plan-cancel {
  font-size: 1.4rem;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}
.plan-change {
  font-size: 1.2rem;
  margin-left: 7.5rem;
  margin-top: 1rem;
  color: hsl(245, 75%, 52%);
}

button:hover {
  background-color: hsl(245deg 78% 60%);
  text-decoration: none;
}
.hover {
  cursor: pointer;
}

.center-text {
  text-align: center;
}
