*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: hsl(225, 100%, 94%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

.plan {
  max-width: 35rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 20px;
  margin: 8rem 0;
}

.plan img {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.plan-info {
  padding: 2.4rem 3.5rem;
  text-align: center;
}

.plan-title {
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  color: hsl(223, 47%, 23%);
}
.plan-description {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: hsl(224, 23%, 55%);
}
.plan-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225deg 100% 94% / 36%);
  border-radius: 10px;
  margin-bottom: 2rem;
  padding: 2rem;
}

.plan-type {
  font-weight: 700;
  font-size: 1.4rem;
  color: hsl(223, 47%, 23%);
}

.plan-price,
.plan-change,
.plan-cancel {
  font-size: 1.4rem;
  color: hsl(224, 23%, 55%);
  font-weight: 700;
}
.plan-change:link,
.plan-change:visited {
  font-size: 1.2rem;
  color: hsl(245, 75%, 52%);
}

.plan-change:hover,
.plan-change:active {
  cursor: pointer;
}

button {
  font-family: inherit;
  display: block;
  font-weight: 500;
  padding: 1em 2em;
  width: 100%;
  box-shadow: 0px 10px 10px 0px hsl(245deg 43% 79%);
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  border: none;
  border-radius: 10px;
  margin-bottom: 2rem;
  transition: 0.4s;
}

button:hover {
  background-color: hsl(245deg 78% 60%);
  text-decoration: none;
}
.hover {
  cursor: pointer;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive design */

@media (max-width: 23em) {
  .plan {
    margin: 8rem 2rem;
  }
}
